@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-hex: #E1D89F;
  --secondary-hex: #FFFFFF;
  --background-hex: #272727;
  --highlight-hex: #E57200;
}

body {
  color: var(--secondary-hex);
  background: var(--background-hex);
}
