.container {
  z-index: 5;
  height: 86px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
}

.home {
  flex-grow: 1;
  padding-left: 2%;
}

.main {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}